{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main>
    <section class="container forms" style="
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
">

        
        <div class="form login">
            <div class="form-content">
                <header>Forgot Password</header>
                {% include 'includes/alerts.html' %}

                <form action="{% url 'forgotPassword' %}" method="POST">
                    {% csrf_token %}

                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input" name="email">
                    </div>

                    <div class="field button-field">
                        <button type="submit">Submit</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="{% url 'register' %}" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

        </div>
        


    </section>

</main>
{% endblock content %}
