{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main>
    <section class="container forms" style="
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
">
        <div class="form login">
            <div class="form-content">

                <header>Register</header>
                {% include 'includes/alerts.html' %}

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}

                    <div class="field input-field">First Name
                        {{ form.first_name }}
                    </div>

                    <div class="field input-field">Last Name
                        {{ form.last_name }}
                    </div>

                    <div class="field input-field">Email Address
                        {{ form.email }}
                    </div>
                
                    <div class="field input-field">Phone Number
                        {{ form.phone_number }}
                    </div>

                    <div class="field input-field">Password
                        {{ form.password }}
                        <i class='bx bx-hide eye-icon'></i>
                    </div>

                    <div class="field input-field">Password2
                        {{ form.confirm_password }}
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="form-link">
                        <a href="#" class="forgot-pass">Forgot password?</a>
                    </div> 

                    <div class="field button-field">
                        <button type="submit">Register</button>
                    </div>
                    {{ form.email.errors }}

                    {{ form.non_field_errors }}

                </form>

            </div>

            <div class="line"></div>

        </div>


    </section>

</main>
{% endblock content %}
