{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main>

    <!--
      - BANNER
    -->

    <div class="banner" >

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="{% static './assets/images/banner-1.jpg'%} " alt="banner" class="banner-img">

            <div class="banner-content">

              <!-- <p class="banner-subtitle">Trending item</p> -->

              <h2 class="banner-title">Safeguard against an uncertain future.</h2>
              <!-- <p class="banner-text">
                Safeguard against an uncertain future
              </p> -->
              <p class="banner-text">
                Own precious metals
              </p>

              <a href="#" class="banner-btn">Buy now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="{% static './assets/images/banner-12.jpg'%} " alt="gold" class="banner-img">

            <div class="banner-content">

              <!-- <p class="banner-subtitle">Trending accessories</p> -->

              <h2 class="banner-title">
                Start a precious metals IRA</h2>

              <p class="banner-text">
                diversify now 
                {% comment %} at &dollar; <b>15</b>.00 {% endcomment %}
              </p>

              <a href="#" class="banner-btn">Buy now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="{% static './assets/images/banner-3.jpg'%} " alt="banner" class="banner-img">

            <div class="banner-content">

              <!-- <p class="banner-subtitle">Sale Offer</p> -->

              <h2 class="banner-title">Protect From Stock Market Volatility</h2>

              <p class="banner-text">
                guard your savings and benefits
                 {% comment %} at &dollar; <b>29</b>.99 {% endcomment %}
              </p>

              <a href="#" class="banner-btn">Buy now</a>

            </div>

          </div>

        </div>

      </div>

    </div>



    <!--
      - CATEGORY
    -->

    <div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">

          {% for category in links %}

          <div class="category-item">

            <div class="category-img-box">
              <img src="{{ category.cat_image.url}} " alt="gold coin" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">{{ category.category_name }}</h3>

                {% comment %} <p class="category-item-amount">(53)</p> {% endcomment %}
              </div>

              <a href="{{category.get_url}}" class="category-btn">Show all</a>

            </div>

          </div>

          {% endfor %}

          <!-- <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/tee.svg" alt="medals" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Medals</h3>

                <p class="category-item-amount">(35)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/jacket.svg" alt="tokens" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Tokens</h3>

                <p class="category-item-amount">(16)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="./assets/images/icons/watch.svg" alt="colonials" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Colonials</h3>

                <p class="category-item-amount">(27)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div> -->

        </div>

      </div>

    </div>





    <!--
      - PRODUCT
    -->

    <div class="product-container">

      <div class="container">


        <!--
          - SIDEBAR
        -->

        <div class="sidebar  has-scrollbar" data-mobile-menu>

          <div class="sidebar-category">
            

            <div class="sidebar-top">
              <h2 class="sidebar-title">Categories</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>
            
            <ul class="sidebar-menu-category-list">
                <a href="{% url 'store'%}">
                <li class="sidebar-menu-category">

                  <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                      <img src="{% static './assets/images/metals.jpg'%} " alt="all" width="20" height="20"
                        class="menu-title-img">

                      <p class="menu-title">All Products</p>
                    </div>

                    <div>
                      <ion-icon name="add-outline" class="add-icon"></ion-icon>
                      <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                  </button>
                </li>
              </a>

                {% for category in links %}

                <a href={{ category.get_url }}>

                <li class="sidebar-menu-category">

                  <button class="sidebar-accordion-menu" data-accordion-btn>

                    <div class="menu-title-flex">
                      <img src="{{ category.cat_image.url }} " alt="gold" width="20" height="20"
                        class="menu-title-img">

                      <p class="menu-title">{{ category.category_name }}</p>
                    </div>

                    <div>
                      <ion-icon name="add-outline" class="add-icon"></ion-icon>
                      <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                    </div>

                  </button>
                </li>
              </a>

                {% endfor %}

            </ul>

          </div>

          <div class="product-showcase">

            <h3 class="showcase-heading">best sellers</h3>

            <div class="showcase-wrapper">

              <div class="showcase-container">

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="{% static './assets/images/products/gold-1.png'%}" alt="best" width="75" height="75"
                      class="showcase-img">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">1 oz Britannia Gold Coin</h4>
                    </a>

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <p class="price">$450.00</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="{% static './assets/images/products/gold-2.png'%} " alt="men's hoodies t-shirt" class="showcase-img"
                      width="75" height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">Sovereign Elizabeth II Gold Coin | 2022</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <p class="price">$700.00</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="{% static './assets/images/products/gbar-1.jpg'%} " alt="100 x 1g CombiBar® " class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">100 x 1g CombiBar® </h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <p class="price">$3000.00</p>
                    </div>

                  </div>

                </div>

                <div class="showcase">

                  <a href="#" class="showcase-img-box">
                    <img src="{% static './assets/images/products/scoin-1.png'%} " alt="1 Kilo Silver Bar" class="showcase-img" width="75"
                      height="75">
                  </a>

                  <div class="showcase-content">

                    <a href="#">
                      <h4 class="showcase-title">1 Kilo Silver Bar </h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <p class="price">$12.00</p>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>



        <div class="product-box">

          <!--
            - PRODUCT MINIMAL
          -->

          <div class="product-minimal">

            <div class="product-showcase">

              <h2 class="title">Affordable</h2>

              <div class="showcase-wrapper has-scrollbar">

                <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/aff1.jpg'%} " alt="affordable"
                        width="70" class="showcase-img">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet.</h4>
                      </a>

                      <a href="#" class="showcase-category">Silver</a>

                      <div class="price-box">
                        <p class="price">$45.00</p>
                        <del>$12.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/gold-1.png'%}" alt="affordable"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet consectetur.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$76.00</p>
                        <del>$25.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/aff4.jpg'%}" alt="affordable"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit.</h4>
                      </a>

                      <a href="#" class="showcase-category">Silver</a>

                      <div class="price-box">
                        <p class="price">$68.00</p>
                        <del>$31.00</del>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="product-showcase">

              <h2 class="title">Top Rated</h2>

              <div class="showcase-wrapper  has-scrollbar">

                <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/top1.jpg'%}" alt="top"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet consectetur.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$49.00</p>
                        <del>$15.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/top3.jpg'%}" alt="top"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$94.00</p>
                        <del>$42.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/top4.jpg'%}" alt="top"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$54.00</p>
                        <del>$65.00</del>
                      </div>

                    </div>

                  </div>

                </div>

                <!-- <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/sports-6.jpg" alt="air tekking shoes - white"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Air Trekking Shoes - white</h4>
                      </a>

                      <a href="#" class="showcase-category">Sports</a>

                      <div class="price-box">
                        <p class="price">$52.00</p>
                        <del>$55.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/shoe-3.jpg" alt="Boot With Suede Detail" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Boot With Suede Detail</h4>
                      </a>

                      <a href="#" class="showcase-category">boots</a>

                      <div class="price-box">
                        <p class="price">$20.00</p>
                        <del>$30.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/shoe-1.jpg" alt="men's leather formal wear shoes"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Men's Leather Formal Wear shoes</h4>
                      </a>

                      <a href="#" class="showcase-category">formal</a>

                      <div class="price-box">
                        <p class="price">$56.00</p>
                        <del>$78.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/shoe-2.jpg" alt="casual men's brown shoes" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Casual Men's Brown shoes</h4>
                      </a>

                      <a href="#" class="showcase-category">Casual</a>

                      <div class="price-box">
                        <p class="price">$50.00</p>
                        <del>$55.00</del>
                      </div>

                    </div>

                  </div>

                </div> -->

              </div>

            </div>

            <div class="product-showcase">

              <h2 class="title">New</h2>

              <div class="showcase-wrapper  has-scrollbar">

                <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/new1.jpg'%}" alt="new"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet.</h4>
                      </a>

                      <a href="#" class="showcase-category">Silver</a>

                      <div class="price-box">
                        <p class="price">$50000.00</p>
                        <del>$34000.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/new3.jpg'%}" alt="new"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet consectetur.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$42000.00</p>
                        <del>$20000.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="{% static './assets/images/products/new4.jpg'%}" alt="new"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Lorem ipsum dolor sit amet.</h4>
                      </a>

                      <a href="#" class="showcase-category">Gold</a>

                      <div class="price-box">
                        <p class="price">$24000.00</p>
                        <del>$10000.00</del>
                      </div>

                    </div>

                  </div>

                </div>

                <!-- <div class="showcase-container">

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="./assets/images/products/jewellery-2.jpg" alt="platinum zircon classic ring"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">platinum Zircon Classic Ring</h4>
                      </a>

                      <a href="#" class="showcase-category">jewellery</a>

                      <div class="price-box">
                        <p class="price">$62.00</p>
                        <del>$65.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="./assets/images/products/watch-1.jpg" alt="smart watche vital plus" class="showcase-img"
                        width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Smart watche Vital Plus</h4>
                      </a>

                      <a href="#" class="showcase-category">Watches</a>

                      <div class="price-box">
                        <p class="price">$56.00</p>
                        <del>$78.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="./assets/images/products/gold.jpg" alt="deal of the day"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">shampoo conditioner packs</h4>
                      </a>

                      <a href="#" class="showcase-category">cosmetics</a>

                      <div class="price-box">
                        <p class="price">$20.00</p>
                        <del>$30.00</del>
                      </div>

                    </div>

                  </div>

                  <div class="showcase">

                    <a href="#" class="showcase-img-box">
                      <img src="./assets/images/products/jewellery-1.jpg" alt="rose gold peacock earrings"
                        class="showcase-img" width="70">
                    </a>

                    <div class="showcase-content">

                      <a href="#">
                        <h4 class="showcase-title">Rose Gold Peacock Earrings</h4>
                      </a>

                      <a href="#" class="showcase-category">jewellery</a>

                      <div class="price-box">
                        <p class="price">$20.00</p>
                        <del>$30.00</del>
                      </div>

                    </div>

                  </div>

                </div> -->

              </div>

            </div>

          </div>



          <!--
            - PRODUCT FEATURED
          -->

          <div class="product-featured">

            <h2 class="title">Deals of the week</h2>

            <div class="showcase-wrapper has-scrollbar">

              {% for deal in deals%}

              <div class="showcase-container">

                <div class="showcase">
                  <a href="{{ deal.get_url }}">
                    <div class="showcase-banner">
                      <img src="{{ deal.image.url }}" alt="gold"
                        class="showcase-img">
                    </div>
                  </a>

                  <div class="showcase-content">

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                    <a href="{{ deal.get_url }}">

                      <a href="#">
                        <h3 class="showcase-title">{{deal.product_name}}</h3>
                      </a>

                      <p class="showcase-desc">
                        {{ deal.description }}
                      </p>

                    </a>

                    <div class="price-box">
                      <p class="price">${{deal.price}}</p>

                      <del>${{deal.price_original}}</del>
                    </div>

                    <a style="width: 160px;" href="{% url 'add_cart' deal.id %}" class="add-cart-btn">add to cart</a>

                    <div class="showcase-status">
                      <div class="wrapper">
                        <p>
                          already sold: <b>20</b>
                        </p>

                        <p>
                          available: <b>40</b>
                        </p>
                      </div>

                    </div>

                    <div class="countdown-box">

                      <p class="countdown-desc">
                        Hurry Up Before The Offer Ends
                      </p>


                    </div>

                  </div>

                </div>

              </div>
              {% endfor %}

            </div>

          </div>



          <!--
            -GOLD BARS
          -->
          <div class="product-main">


            <h2 class="title" style="text-transform: uppercase;">GOLD BARS</h2>

            <div class="product-grid">

              {% for bar in home_bars%}
              <div class="showcase">

                <div class="showcase-banner">
                  <a href="{{ bar.get_url }}">
                  <img src="{{ bar.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img default" width="300">
                  <img src="{{ bar.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img hover" width="300">
                  </a>
                  <p class="showcase-badge angle black">in stock</p>

                  <div class="showcase-actions">

                    <a class="btn-action" href="{{ bar.get_url }}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </a>

                    <a class="btn-action" href="{% url 'add_cart' bar.id %}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </a>
                  </div>
                </div>

                <div class="showcase-content">
                  <a href="{{bar.category.get_url}}" class="showcase-category">{{ bar.category }}</a>

                  <h3>
                    <a href="{{ bar.get_url }}" class="showcase-title">{{ bar.product_name }}</a>
                  </h3>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    {% comment %} <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon> {% endcomment %}
                  </div>

                  <div class="price-box">
                    <p class="price">${{ bar.price }}</p>
                    {% comment %} <del>$56.00</del> {% endcomment %}
                  </div>

                </div>

              </div>
              {% endfor %}
            </div>

          </div>
            <!--
            - GOLD COINS
          -->

          <div class="product-main">


            <h2 class="title" style="text-transform: uppercase;">GOLD COINS</h2>

            <div class="product-grid">
              {% for coin in home_coins%}

              <div class="showcase">
                <a href="{{ coin.get_url }}">

                <div class="showcase-banner">
                  <img src="{{ coin.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img default" width="300">
                  <img src="{{ coin.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img hover" width="300">
                </a>
                  <p class="showcase-badge angle black">in stock</p>

                  <div class="showcase-actions">

                    <a class="btn-action" href="{{ coin.get_url }}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </a>


                    <a class="btn-action" href="{% url 'add_cart' coin.id %}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </a>
                  </div>
                </div>

                <div class="showcase-content">
                  <a href="{{coin.category.get_url}}" class="showcase-category">{{ coin.category}}</a>

                  <h3>
                    <a href="{{ coin.get_url }}" class="showcase-title">{{ coin.product_name }}</a>
                  </h3>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    {% comment %} <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon> {% endcomment %}
                  </div>

                  <div class="price-box">
                    <p class="price">${{ coin.price }}</p>
                    {% comment %} <del>$56.00</del> {% endcomment %}
                  </div>

                </div>

              </div>
              {% endfor %}

            </div>

          </div>

            <!--
            - GOLD ORNAMENTS AND JEWELLERY
          -->

          <div class="product-main">


            <h2 class="title" style="text-transform: uppercase;">GOLD ORNAMENTS & JEWELLERY</h2>

            <div class="product-grid">
              {% for coin in home_coins%}

              <div class="showcase">
                <a href="{{ coin.get_url }}">

                <div class="showcase-banner">
                  <img src="{{ coin.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img default" width="300">
                  <img src="{{ coin.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img hover" width="300">
                </a>
                  <p class="showcase-badge angle black">in stock</p>

                  <div class="showcase-actions">

                    <a class="btn-action" href="{{ coin.get_url }}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </a>


                    <a class="btn-action" href="{% url 'add_cart' coin.id %}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </a>
                  </div>
                </div>

                <div class="showcase-content">
                  <a href="{{coin.category.get_url}}" class="showcase-category">{{ coin.category}}</a>

                  <h3>
                    <a href="{{ coin.get_url }}" class="showcase-title">{{ coin.product_name }}</a>
                  </h3>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    {% comment %} <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon> {% endcomment %}
                  </div>

                  <div class="price-box">
                    <p class="price">${{ coin.price }}</p>
                    {% comment %} <del>$56.00</del> {% endcomment %}
                  </div>

                </div>

              </div>
              {% endfor %}

            </div>

          </div>

            <!--
            - GOLD Nuggets
          -->

          <div class="product-main">


            <h2 class="title" style="text-transform: uppercase;">GOLD NUGGETS</h2>

            <div class="product-grid">
              {% for nugget in home_nuggets %}

              <div class="showcase">
                <a href="{{ nugget.get_url }}">

                <div class="showcase-banner">
                  <img src="{{ nugget.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img default" width="300">
                  <img src="{{ nugget.image.url }}" alt="Pure Garment Dyed Cotton Shirt"
                    class="product-img hover" width="300">
                </a>
                  <p class="showcase-badge angle black">in stock</p>

                  <div class="showcase-actions">

                    <a class="btn-action" href="{{ nugget.get_url }}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </a>


                    <a class="btn-action" href="{% url 'add_cart' nugget.id %}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </a>
                  </div>
                </div>

                <div class="showcase-content">
                  <a href="{{nugget.category.get_url}}" class="showcase-category">{{ nugget.category}}</a>

                  <h3>
                    <a href="{{ nugget.get_url }}" class="showcase-title">{{ nugget.product_name }}</a>
                  </h3>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    {% comment %} <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon> {% endcomment %}
                  </div>

                  <div class="price-box">
                    <p class="price">${{ nugget.price }}</p>
                    {% comment %} <del>$56.00</del> {% endcomment %}
                  </div>

                </div>

              </div>
              {% endfor %}

            </div>

          </div>
        </div>

      </div>

    </div>





    <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

    <div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->

          <div class="testimonial">

            <h2 class="title">testimonial</h2>

            <div class="testimonial-card">

              <img src="{% static './assets/images/icon.png'%}" alt="alan doe" class="testimonial-banner" width="80"
                height="80">

              <p class="testimonial-name">Bernard Omondi</p>

              <p class="testimonial-title">CEO & Founder Dabec Gold and Real Estate</p>

              <img src="{% static './assets/images/icons/quotes.svg'%}" alt="quotation" class="quotation-img" width="26">

              <p class="testimonial-desc">
                Lorem ipsum dolor sit amet consectetur Lorem ipsum
                dolor dolor sit amet.
              </p>

            </div>

          </div>



          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="{% static './assets/images/cta-banner.jpg'%}" alt="summer collection" class="cta-banner">

            <a href="#" class="cta-content">

              <p class="discount">2% Discount</p>

              <h2 class="cta-title">Premium Gold</h2>

              <p class="cta-text">Starting @ $5000</p>

              <button class="cta-btn">Buy now</button>

            </a>

          </div>



          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Our Services</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Worldwide Delivery</h3>
                  <p class="service-desc">Get Your Gold Delivered At Your Doorstep</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Fast deliveries</h3>
                  <p class="service-desc">Worldwide Service</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Best Online Support</h3>
                  <p class="service-desc">Hours: 8AM - 11PM</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Quality Product</h3>
                  <p class="service-desc">Mint Condition</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Good Customer Service</h3>
                  <p class="service-desc">We Are Glad To Advice Through Every Step.</p>

                </div>

              </a>

            </div>

          </div>

        </div>

      </div>

    </div>





    <!--
      - BLOG
    -->

    <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">

            <a href="#">
              <img src="{% static './assets/images/blog-1.jpg'%}" alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
                width="300" class="blog-banner">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Our Blog</a>

              <a href="#">
                <h3 class="blog-title">How To Safeguard From Geopolitical Instability.</h3>
              </a>

              <p class="blog-meta">
                By <cite>Jack Lenard</cite> / <time datetime="2022-04-06">Apr 06, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="{% static './assets/images/blog-2.jpg'%}" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Stock Market Navigation</a>

              <h3>
                <a href="#" class="blog-title">Importance of Protecting Yourself From Stock Market Volatility                  .</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Robin</cite> / <time datetime="2022-01-18">Jan 18, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="{% static './assets/images/blog-3.jpg'%}" alt="EBT vendors: Claim Your Share of SNAP Online Revenue."
                class="blog-banner" width="300">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Diversification</a>

              <h3>
                <a href="#" class="blog-title">How To Diversify Your Savings.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Selsa</cite> / <time datetime="2022-02-10">Feb 10, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">

            <a href="#">
              <img src="{% static './assets/images/blog-4.jpg'%}" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Market Protection</a>

              <h3>
                <a href="#" class="blog-title">Hedge Against The Dollar.</a>
              </h3>

              <p class="blog-meta">
                By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
              </p>

            </div>

          </div>

        </div>

      </div>

    </div>

  </main>


{% endblock content %}

