{% extends 'base.html' %} 
{% block content %}
{% load static %}
<main class="container">

    <h1 class="heading">
      <ion-icon name="cart-outline"></ion-icon>
    </h1>

    <div class="item-flex">


      <!--
        - prev cart section
      -->
       {% comment %} <section class="cart">
     
        <div class="cart-item-box">

            <h2 class="section-heading">Order Summery</h2>
            {% for cart_item in cart_items %}

              <div class="product-card">

                <div class="card">

                  <div class="img-box">
                    <img src="{{ cart_item.product.image.url }}" alt="cartimg" width="80px" class="product-img">
                  </div>

                  <div class="detail">

                    <a href="{{cart_item.product.get_url }}" class="product-name">{{ cart_item.product.product_name }}</a>

                    <div class="wrapper">

                      <div class="product-qty">
                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}">
                          <ion-icon name="remove-outline"></ion-icon>
                      </a>

                        <span id="quantity">{{ cart_item.quantity }}</span>

                        <a href="{% url 'add_cart' cart_item.product.id %}">     
                            add<ion-icon name="add-outline"></ion-icon>
                        </a>
                      </div>


                      <div class="price">
                        $<span id="price">{{ cart_item.sub_total }}</span>
                      </div>

                      <div class="price">
                        each$<span id="price">{{ cart_item.product.price }}</span>
                      </div>

                      <a class="price" href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}">
                        <span id="price">remove</span>
                      </a>

                    </div>

                  </div>

                  <button class="product-close-btn">
                    <ion-icon name="close-outline"></ion-icon>
                  </button>

                </div>

              </div>

            {% endfor %}

         

        </div>

        <div class="wrapper">

          <div class="discount-token">

            <div class="wrapper-flex">

              <input type="text" name="discount-token" id="discount-token" class="input-default">

              <a href="{% url 'store' %}" class="btn btn-outline">Continue Shopping</a>

            </div>

            <div class="wrapper-flex">

              <input type="text" name="discount-token" id="discount-token" class="input-default">

              <a href="{% url 'checkout' %}" class="btn btn-outline"> Checkout</a>

            </div>

          </div>

          <div class="amount">



            <div class="tax">
              <span>Shipping</span> <span>$ <span id="tax">{{tax}}</span></span>
            </div>


            <div class="total">
              <span>GrandTotal</span> <span>$ <span id="total">{{ grand_total }}</span></span>
            </div>

          </div>

        </div>

      </section> {% endcomment %}
    </div>


          <!--
            - STYLED CART PAGE
          -->

    <div class="small-container cart-page" style="margin-top: -3px;">
      <table>
          <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Product total</th>
          </tr>

          {% for cart_item in cart_items %}

            <tr>
                <td>
                    <div class="cart-info">
                    <a href="{{cart_item.product.get_url }}">
                      <img src="{{ cart_item.product.image.url }}" alt="imagecart">
                    </a>
                        <div>
                            <p>                    
                              <a href="{{cart_item.product.get_url }}" class="product-name">{{ cart_item.product.product_name }}</a>
                            </p>
                            <small>Price: ${{ cart_item.product.price }}</small>
                            <br>
                            <a class="price1"  href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}">
                              remove
                            </a>
                        </div>
                    </div>
                </td>
                <td>
                  <span id="quantity">
                    <a href="{% url 'remove_cart' cart_item.product.id cart_item.id %}" style="color: hsl(0, 0%, 13%)">
                      <ion-icon name="remove-outline"></ion-icon>
                    </a>
                  </span>
                  <span id="quantity">
                    {{ cart_item.quantity }}
                  </span>
                  <span id="quantity">
                    <a href="{% url 'add_cart' cart_item.product.id %}" style="color: hsl(0, 0%, 13%)">     
                      <ion-icon name="add-outline"></ion-icon>
                    </a>
                  </span>           
                </td>
                <td>${{ cart_item.sub_total }}</td>
            </tr>
            
          {% endfor %}
      </table>

      <div class="total-price">
          <table>
              <tr>
                  <td>Subtotal</td>
                  <td>${{total}}</td>
              </tr>

              <tr>
                  <td>Shipping</td>
                  <td>${{tax}}</td>
              </tr>  
              <tr>
                  <td>Grand Total</td>
                  <td>${{ grand_total }}</td>
              </tr>
          </table>

      </div>

      <div class="check-out" class="total-price">
        <table>
          <tr>
            <td> 

                <a href="{% url 'store' %}" style="font-size: 18px;" class="btnnow">Continue Shopping</a>
                <a href="{% url 'checkout' %}" style="font-size: 18px;"> Checkout</a>
            </td>


          </tr>

      </table> 

      </div>

    </div>
  </main>

{% endblock content %}
